{%- extends 'base.html' %}

{%- block title %}{% if title %} » {{ title }}{% endif %}{% endblock %}

{%- block body %}

{%- if tag -%}
<h4>Tag: {% for i in tag %}<span class="label"><i class="icon-tag"></i> {{
    i }}</span> {% if not loop.last %}+ {% endif %}{% endfor %} (<small><a href="{{
    url_for('views.atom', tag='/'.join(tag)) }}">Atom feed</a></small>)
</h4>
{%- endif %}

{%- for post in posts %}
<article>
    <h3>{% if is_post(post.slug) %}<a href="{{
        url_for('views.content', slug=post.slug) }}">{{ post.title }}</a>{%
        else %}{{ post.title }}{% endif %}</h3>

<!-- begin html parsed by docutils -->

{% if full_content -%}
    {{ post.full_html }}
{% else -%}
    {{ post.abstract_html }}
{%- endif %}

<!-- end html parsed by docutils -->

    {% if post.read_more and not full_content %}<p><a class="btn" href="{{
        url_for('views.content', slug=post.slug) }}">Read more</a></p>{%
        endif -%}

    <div class="clear"></div>
    <div class="metadata well well-small">
        {% if post.tags %}<p>{% for tag in post.tags
            %}<span class="label"><a href="{{ url_for('views.tag', tag=tag)
            }}"><i class="icon-tag"></i> {{ tag }}</a></span> {%
            endfor %}</p>{% endif %}
        Author: {% if post.author_email %}<a href="mailto:{{
            post.author_email }}">{{ post.author_name }}</a>{%
            else %}{{ post.author_name }}{% endif %}
        <br />
        Published on: {{ post.datetime|datetimeformat }}{%
            if post.mdatetime %} - Modified on: {{
            post.mdatetime|datetimeformat }}{% endif %}
        <br />
        <a href="{{
            url_for('views.content', slug=post.slug) }}">Permalink</a>{%
            if config.SHOW_RST_SOURCE %} - <a href="{{
            url_for('views.source', slug=post.slug) }}">Source code</a>{%
            endif %}{% if is_post(post.slug) and config.DISQUS %} - <a href="{{
            url_for('views.content', slug=post.slug)
            }}#disqus_thread">Comments</a>{% endif %}
    </div>

<!-- start disqus post -->
{% block disqus_post %}{% endblock %}

<!-- end disqus post -->

{% endfor %}

<!-- start pagination -->
{% if pagination %}
<ul class="pager">
    {%- if pagination.current > 1 %}
    <li class="previous"><a href="{{ pagination.url_gen(pagination.current-1) }}">&larr; Newer</a></li>
    {%- else %}
    <li class="previous disabled"><span>&larr; Newer</span></li>
    {%- endif %}
    {%- if pagination.current < pagination.num_pages %}
    <li class="next"><a href="{{ pagination.url_gen(pagination.current+1) }}">Older &rarr;</a></li>
    {%- else %}
    <li class="next disabled"><span>Older &rarr;</span></li>
    {%- endif %}
</ul>



<!--{%- set start = 1 if pagination.current < 2 else pagination.current - 1 %}
{%- set end = start + 3 if start + 2 < pagination.num_pages else pagination.num_pages + 1 %}
{%- set start = pagination.num_pages - 2 if end > pagination.num_pages else start %}
<div class="pagination pagination-large pagination-centered">
    <ul>
        {%- if pagination.current != 1 %}
        <li><a href="{{ pagination.url_gen(1) }}">&laquo;&laquo;</a></li>
        {%- else %}
        <li class="disabled"><span>&laquo;&laquo;</span></li>
        {%- endif %}
        {%- if pagination.current > 1 %}
        <li><a href="{{ pagination.url_gen(pagination.current-1) }}">&laquo;</a></li>
        {%- else %}
        <li class="disabled"><span>&laquo;</span></li>
        {%- endif %}
        {%- if start > 1 %}
        <li class="disabled"><span>...</span></li>
        {%- endif %}
        {%- for i in range(start, end) %}
        {%- if i > 0 %}
        {%- if pagination.current != i %}
        <li><a href="{{ pagination.url_gen(i) }}">{{ i }}</a></li>
        {%- else %}
        <li class="active"><span>{{ i }}</span></li>
        {%- endif %}
        {%- endif %}
        {%- endfor %}
        {%- if end <= pagination.num_pages %}
        <li class="disabled"><span>...</span></li>
        {%- endif %}
        {%- if pagination.current < pagination.num_pages %}
        <li><a href="{{ pagination.url_gen(pagination.current+1) }}">&raquo;</a></li>
        {%- else %}
        <li class="disabled"><span>&raquo;</span></li>
        {%- endif %}
        {%- if pagination.current != pagination.num_pages %}
        <li><a href="{{ pagination.url_gen(pagination.num_pages) }}">&raquo;&raquo;</a></li>
        {%- else %}
        <li class="disabled"><span>&raquo;&raquo;</span></li>
        {%- endif %}
    </ul>
</div>-->
{%- endif %}

<!-- end pagination -->

{%- endblock %}
